/* 
 *  Elements
 *
 */
h1, h2 /* Adjusts to my liking */
{
	line-height:0.60;
	margin-top:20px;
	margin-bottom:20px;
}

input[type=submit] /* Adjusts to my liking */
{
	margin-top: 8px;
}


/* 
 *  Classes
 *
 */
.text_valid /* Text in response to correct input */
{
	color:green;
}

.text_invalid /* Text in response to uncorrect input */
{
	color:red;
}

.hidden /* Kept as a class for the ability to toggle it */
{
	display:none;
}


/* 
 *  ID
 *
 */
div#page /* Webpage */
{
	/* Centers the webpage */
	width:80%;
	margin:auto;
}

div#text /* Text within the webpage */
{
	width:760px; /* Adjusts line-length of the text in the page */
}
